.root {
    text-align: center;
    background-color: #00152c;
    padding-bottom: 20px;
    overflow: auto;

    > button {
        width: 80%;
        margin: 15px 0;
    }

    div.item {
        padding: 0;
        height: 40px;
        border-style: none;
        text-align: left;
        align-items: stretch;
        cursor: pointer;

        :global(.ant-list-item-content) {
            align-items: stretch;

            a {
                flex: 1;
                color: #bbb;
                line-height: 40px;
                padding: 0 10px;
                transition: all .3s;
                display: flex;

                &:global(.active) {
                    color: #fff;
                    background-color: rgba(0, 128, 255, .5);
                }

                &:hover {
                    color: #fff;
                }

                > i {
                    margin: 0 5px;
                    line-height: 40px;
                    transition: .1s;

                    &:global(.anticon-fire) {
                        &:hover {
                            color: #40a9ff;
                        }

                        .running {
                            color: #90ee90;
                        }
                    }

                    &:global(.anticon-delete):hover {
                        color: #f5222d;
                    }
                }

                > span {
                    flex: 1;
                }
            }
        }
    }
}
