.root {
    background-color: #1e232b;
    height: 50px;
    display: flex;

    > div {
        line-height: 50px;
        font-size: 30px;
        color: #02dcff;
        font-weight: bold;
        font-family: "Sans-serif";
        margin: 0 25px;
    }

    > a {
        line-height: 50px;
        padding: 0 10px;
        min-width: 100px;
        text-align: center;
        font-size: 14px;
        transition: all .3s;
        cursor: pointer;
        color: #bbb;

        &:global(.active) {
            color: #fff;
            background-color: rgba(0, 128, 255, .5);
            border-bottom: 5px solid rgba(0, 128, 255, 1);
        }

        &:hover {
            color: #fff;
        }
    }
}
